<p id="notice"><%= notice %></p>

<h1>Moves</h1>

<table>
  <thead>
    <tr>
      <th>Game</th>
      <th>Player</th>
      <th>Turn number</th>
      <th>Attack coords</th>
      <th>Hit</th>
      <th>Ship part hit</th>
      <th>Ship sunk</th>
      <th>Fleet sunk</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @moves.each do |move| %>
      <tr>
        <td><%= move.game_id %></td>
        <td><%= move.player_id %></td>
        <td><%= move.turn_number %></td>
        <td><%= move.attack_coords %></td>
        <td><%= move.hit %></td>
        <td><%= move.ship_part_hit %></td>
        <td><%= move.ship_sunk %></td>
        <td><%= move.fleet_sunk %></td>
        <td><%= link_to 'Show', game_move_path(@game, move) %></td>
        <td><%= link_to 'Edit', edit_game_move_path(@game, move) %></td>
        <td><%= link_to 'Destroy', [@game, move], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Move', new_game_move_path(@game) %>
