<p id="notice"><%= notice %></p>

<h1>Games</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Player 1</th>
      <th>Player 2</th>
      <th>Whose Move</th>
      <th>Move Counter</th>
      <th>Player 1 fleet status</th>
      <th>Player 2 fleet status</th>
      <th>Player 1 fleet coords</th>
      <th>Player 2 fleet coords</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @games.each do |game| %>
      <tr>
        <td><%= game.title %></td>
        <td><%= game.player_1_id %></td>
        <td><%= game.player_2_id %></td>
        <td><%= game.whose_move %></td>
        <td><%= game.move_counter %></td>
        <td><%= game.player_1_fleet_status %></td>
        <td><%= game.player_2_fleet_status %></td>
        <td><%= game.player_1_fleet_coords %></td>
        <td><%= game.player_2_fleet_coords %></td>
        <td><%= link_to 'Show', game %></td>
        <td><%= link_to 'Edit', edit_game_path(game) %></td>
        <td><%= link_to 'Destroy', game, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Game', new_game_path %>
