<head>
  <% peg_size = 20 %>
  <% board_size = 550 %>
  
  <STYLE type="text/css">
   H1 {border-width: 1; border: solid; text-align: center}
   .board-main-div {
     position: relative;
   }
   .board-main {
     position: absolute;
     left:     0px;
     top:      0px;
     z-index:  -4;
   }
   .ship {
     position: absolute;
     z-index:  -3;
   }
   .peg-shadow-1 {
     width:  <%=peg_size%>px;
     height: <%=peg_size%>px;
     -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
     border-radius: 50%;
     background: black;
     position: absolute;
     opacity: 0.35;
     z-index: -2;
   }
   .peg-shadow-2 {
     width:  <%=peg_size%>px;
     height: <%=peg_size%>px;
     -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
     border-radius: 50%;
     background: black;
     position: absolute;
     opacity: 0.35;
     z-index: -2;
   }
   .red-peg {
     width:  <%=peg_size%>px;
     height: <%=peg_size%>px;
     -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
     border-radius: 50%;
     background: red;
     position: absolute;
     z-index: -1;
   }
   .white-peg {
     width:  <%=peg_size%>px;
     height: <%=peg_size%>px;
     -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
     border-radius: 50%;
     background: white;
     position: absolute;
     z-index: -1;
   }
   .status {
     position: absolute;
     left:       0px;
     top:      600px;
     z-index:    0;
   }
 </STYLE>
</head>

<p id="notice"><%= notice %></p>

<div class="board-main-div" >
  <%= image_tag("battleship.board.png",
                :size => "#{board_size}x#{board_size}",
                :alt => "image_of_board",
                :class => "board-main",
               ) %>
  <% left, top = ship_position("j2", 550, Game::AIRCRAFT_CARRIER_MASK, :horizontal) %>
  <%= image_tag("ship.AirCraftCarrier.horizontal.png",
                  :class => "ship",
                  :size => "250x50",
                  :style => "left:#{left}px; top: #{top}px;",
                  :alt => "image_of_AirCraftCarrier.horizontal",
                 ) %>

  <% left, top = ship_position("f1", 550, Game::AIRCRAFT_CARRIER_MASK, :vertical) %>
  <%= image_tag("ship.AirCraftCarrier.vertical.png",
                  :class => "ship",
                  :size => "50x250",
                  :style => "left:#{left}px; top: #{top}px;",
                  :alt => "image_of_AirCraftCarrier.vertical",
                 ) %>

  <% left, top = ship_position("i3", 550, Game::BATTLESHIP_MASK, :horizontal) %>
  <%= image_tag("ship.Battleship.horizontal.png",
                  :class => "ship",
                  :size => "200x50",
                  :style => "left:#{left}px; top: #{top}px;",
                  :alt => "image_of_Battleship.horizontal",
                 ) %>

  <% left, top = ship_position("f2", 550, Game::BATTLESHIP_MASK, :vertical) %>
  <%= image_tag("ship.Battleship.vertical.png",
                  :class => "ship",
                  :size => "50x200",
                  :style => "left:#{left}px; top: #{top}px;",
                  :alt => "image_of_Battleship.vertical",
                 ) %>

  <% left, top = ship_position("h4", 550, Game::CRUISER_MASK, :horizontal) %>
  <%= image_tag("ship.Cruiser.horizontal.png",
                  :class => "ship",
                  :size => "150x50",
                  :style => "left:#{left}px; top: #{top}px;",
                  :alt => "image_of_Cruiser.horizontal",
                 ) %>

  <% left, top = ship_position("f3", 550, Game::CRUISER_MASK, :vertical) %>
  <%= image_tag("ship.Cruiser.vertical.png",
                  :class => "ship",
                  :size => "50x150",
                  :style => "left:#{left}px; top: #{top}px;",
                  :alt => "image_of_Cruiser.vertical",
                 ) %>

  <% left, top = ship_position("g5", 550, Game::SUBMARINE_MASK, :horizontal) %>
  <%= image_tag("ship.Submarine.horizontal.png",
                  :class => "ship",
                  :size => "150x50",
                  :style => "left:#{left}px; top: #{top}px;",
                  :alt => "image_of_Submarine.horizontal",
                 ) %>

  <% left, top = ship_position("e4", 550, Game::SUBMARINE_MASK, :vertical) %>
  <%= image_tag("ship.Submarine.vertical.png",
                  :class => "ship",
                  :size => "50x150",
                  :style => "left:#{left}px; top: #{top}px;",
                  :alt => "image_of_Submarine.vertical",
                 ) %>

  <% left, top = ship_position("e5", 550, Game::DESTROYER_MASK, :vertical) %>
  <%= image_tag("ship.Destroyer.vertical.png",
                  :class => "ship",
                  :size => "50x100",
                  :style => "left:#{left}px; top: #{top}px;",
                  :alt => "image_of_Destroyer.vertical",
                 ) %>

  <% left, top = ship_position("f6", 550, Game::DESTROYER_MASK, :horizontal) %>
  <%= image_tag("ship.Destroyer.horizontal.png",
                  :class => "ship",
                  :size => "100x50",
                  :style => "left:#{left}px; top: #{top}px;",
                  :alt => "image_of_Destroyer.horizontal",
                 ) %>
  <% for l in %w(a b c d e f g h i j) %>
    <% for t in 1..10 %>
      <% coordinate = l + t.to_s %>
      <%= peg_tag(coordinate, "white", board_size, peg_size) %>
    <% end %>
  <% end %>
  <% red_peg_coords = %w(a1 a10 j1 j10 e5 f5 g5 h5 i5) %>
  <% red_peg_coords.each do |coordinate| %>
    <%= peg_tag(coordinate, "red", board_size, peg_size) %>
  <% end%>

</div>

<div class="status" >
<p>
  <strong>Title:</strong>
  <%= @game.title %>
</p>

<p>
  <strong>Player 1:</strong>
  <%= @game.player_1_id %>
</p>

<p>
  <strong>Player 2:</strong>
  <%= @game.player_2_id %>
</p>

<p>
  <strong>Whose Move:</strong>
  <%= @game.whose_move%>
</p>

<p>
  <strong>Move Counter:</strong>
  <%= @game.move_counter%>
</p>

<p>
  <strong>Player 1 fleet status:</strong>
  <%= @game.player_1_fleet_status %>
</p>

<p>
  <strong>Player 2 fleet status:</strong>
  <%= @game.player_2_fleet_status %>
</p>

<p>
  <strong>Player 1 fleet coords:</strong>
  <%= @game.player_1_fleet_coords %>
</p>

<p>
  <strong>Player 2 fleet coords:</strong>
  <%= @game.player_2_fleet_coords %>
</p>

<p>
  <strong>Game State:</strong>
  <%= @game.game_state %>
</p>

<p>
  <strong>Game State Message:</strong>
  <%= @game.game_state_message %>
</p>

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>

<% waiting_for_joiners = [Game::STATE_WAITING_ALL_PLAYERS_TO_JOIN,
                          Game::STATE_WAITING_PLAYER_1_TO_JOIN,
                          Game::STATE_WAITING_PLAYER_2_TO_JOIN] %>
<% if waiting_for_joiners.include?(@game.game_state) %>
  <h1>Join Game</h1>
  
  <%= form_for(@game, url: join_game_url(@game)) do |f| %>
    <% if @game.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@game.errors.count, "error") %> prohibited this game from being saved:</h2>
  
        <ul>
        <% @game.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
  
    <div class="field">
      <%= f.label :player_1_id %>
      <%= f.text_field :player_1_id %>
    </div>
  
    <div class="field">
      <%= f.label :player_2_id %>
      <%= f.text_field :player_2_id %>
    </div>
  
    <div class="actions">
      <%= f.submit "Join Game" %>
    </div>
  <% end %>
<% end %>
</div>
