<head>
  <STYLE type="text/css">
   H1 {border-width: 1; border: solid; text-align: center}
   .board-main-div {
     position: relative;
   }
   .board-main {
     position: absolute;
     left:     0px;
     top:      0px;
     z-index:  -4;
   }
   .ship {
     position: absolute;
     z-index:  -3;
   }
   .red-peg {
     width:  20px;
     height: 20px;
     -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
     border-radius: 10px;
     background: red;
     position: absolute;
     z-index: -1;
   }
   .white-peg {
     width:  20px;
     height: 20px;
     -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
     border-radius: 10px;
     background: white;
     position: absolute;
     z-index: -1;
   }
   .status {
     position: absolute;
     left:       0px;
     top:      600px;
     z-index:    0;
   }
 </STYLE>
</head>

<p id="notice"><%= notice %></p>

<div class="board-main-div" >
  <%= image_tag("battleship.board.png",
                :size => "550x550",
                :alt => "image_of_board",
                :class => "board-main",
               ) %>
  <%= image_tag("ship.AirCraftCarrier.vertical.jpg",
                  :class => "ship aircarrier",
                  :size => "50x250",
                  :style => "left:244px; top:244px;",
                  :alt => "image_of_AirCraftCarrier.vertical",
                 ) %>
  <% for l in %w(a b c d e f g h i j) %>
    <% for t in 1..10 %>
      <% coordinate = l + t.to_s %>
      <% left, top = peg_position(coordinate, 550) %>
      <div class="white-peg" style="left: <%=left%>px; top: <%=top%>px;" >
        <!--
        <span style="color:blue;">
          <%= left.round %><br><%= top.round %>
        </span>
        -->
      </div>
    <% end %>
  <% end %>
  <div class="red-peg top-left"     style="left:  68px; top:  59px;" ></div>
  <div class="red-peg top-right"    style="left: 497px; top:  59px;" ></div>
  <div class="red-peg bottom-left"  style="left:  54px; top: 514px;" ></div>
  <div class="red-peg bottom-right" style="left: 510px; top: 514px;" ></div>
  <div class="red-peg acc-1" style="left: 258px; top: 253px;" ></div>
  <div class="red-peg acc-2" style="left: 258px; top: 304px;" ></div>
  <div class="red-peg acc-3" style="left: 257px; top: 356px;" ></div>
  <div class="red-peg acc-4" style="left: 257px; top: 409px;" ></div>
  <div class="red-peg acc-5" style="left: 257px; top: 461px;" ></div>
  <!--
  -->
</div>

<div class="status" >
<p>
  <strong>Title:</strong>
  <%= @game.title %>
</p>

<p>
  <strong>Player 1:</strong>
  <%= @game.player_1_id %>
</p>

<p>
  <strong>Player 2:</strong>
  <%= @game.player_2_id %>
</p>

<p>
  <strong>Whose Move:</strong>
  <%= @game.whose_move%>
</p>

<p>
  <strong>Move Counter:</strong>
  <%= @game.move_counter%>
</p>

<p>
  <strong>Player 1 fleet status:</strong>
  <%= @game.player_1_fleet_status %>
</p>

<p>
  <strong>Player 2 fleet status:</strong>
  <%= @game.player_2_fleet_status %>
</p>

<p>
  <strong>Player 1 fleet coords:</strong>
  <%= @game.player_1_fleet_coords %>
</p>

<p>
  <strong>Player 2 fleet coords:</strong>
  <%= @game.player_2_fleet_coords %>
</p>

<p>
  <strong>Game State:</strong>
  <%= @game.game_state %>
</p>

<p>
  <strong>Game State Message:</strong>
  <%= @game.game_state_message %>
</p>

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>

<% waiting_for_joiners = [Game::STATE_WAITING_ALL_PLAYERS_TO_JOIN,
                          Game::STATE_WAITING_PLAYER_1_TO_JOIN,
                          Game::STATE_WAITING_PLAYER_2_TO_JOIN] %>
<% if waiting_for_joiners.include?(@game.game_state) %>
  <h1>Join Game</h1>
  
  <%= form_for(@game, url: join_game_url(@game)) do |f| %>
    <% if @game.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@game.errors.count, "error") %> prohibited this game from being saved:</h2>
  
        <ul>
        <% @game.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
  
    <div class="field">
      <%= f.label :player_1_id %>
      <%= f.text_field :player_1_id %>
    </div>
  
    <div class="field">
      <%= f.label :player_2_id %>
      <%= f.text_field :player_2_id %>
    </div>
  
    <div class="actions">
      <%= f.submit "Join Game" %>
    </div>
  <% end %>
<% end %>
</div>
